.container{
    margin-top:30px;
    max-width:100%;
    
    
    
}

.divi{
    display:flex;
    justify-content: center;
    box-sizing:content-box;
    text-decoration: underline;
    padding:5px 0px;
    
    h5{
        text-align: center;
        color:#0a66c2;
        font-size:14px;
        a{
            font-weight: 700;;
        }
    }
    p{
        text-align: center;
        font-size: 14px;
        color:#434649;
        font-weight: 600;
    }

    @media(max-width: 768px)
    {
        flex-direction: column;
        padding: auto;
    }
}

.slides{
    display:grid;
    grid-template-areas: "leftside main rightside";
    grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px,7fr);
    column-gap: 25px;
    row-gap: 25px;
    grid-template-rows: auto;
    margin: 25px 0;
    text-decoration: none;

    @media(max-width: 768px){
        display:flex;
        flex-direction: column;
        padding: 0px 5px
    }

    /* justify-content: center; */
    
    /* div{
        margin-left: auto;
        margin:10px 20px;
        justify-content: center;
        text-align: center;
    } */
}